<br>
<img src="{{data.user.avatar_url}}" class="profile-picture" />
<br>
<br>
My Name is<br>
<b>Nicolas Hollmann</b><br>
<br>
My GitHub Profile<br>
<b><a href="{{data.user.html_url}}" target="_blank" rel="noopener noreferrer">{{data.user.login}}</a></b><br>
<br>
I come from<br>
<b>{{data.user.location}}</b><br>
<br>
I work at<br>
<b>{{data.user.company}}</b><br>
<br>
You can find my blog at:<br>
<b><a href="{{data.user.blog}}" target="_blank" rel="noopener noreferrer">{{data.user.blog}}</a></b><br>
<br>
I have <b>{{data.user.followers}}</b> GitHub Followers.<br>