<div class="repository">
    <h4>
        {{#if repo.fork}}<span class="fork-badge badge">Fork</span>{{/if}}
        <span class="lang-badge badge">{{repo.language}}</span>
        <a href="{{repo.html_url}}" target="_blank" rel="noopener noreferrer">
            {{name}}
        </a>
    </h4>

    {{#if repo.homepage}}
        <a href="{{repo.homepage}}" target="_blank" rel="noopener noreferrer">{{repo.homepage}}</a>
    {{/if}}

    <p>{{repo.description}}</p>

    <p>
        Stargazers:&nbsp;<b>{{repo.stargazers_count}}</b> | 
        Watchers:&nbsp;<b>{{repo.watchers_count}}</b> |
        Forks:&nbsp;<b>{{repo.forks}}</b>
    </p>
</div>
