
.profile-picture {
    display: block;
    margin: 4px auto;
    width: 60%;
    max-width: 200px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.repository {
    border-bottom: 2px solid #999999;
}

.repository:last-child {
    border-bottom: 0;
}
